html, body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px; 
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
    flex: 1 0 auto;
}
@media (max-width: 768px) {
    body {
        font-size: 12px; /* Adjust font size for smaller screens */
    }

    .container {
        margin: 15px auto; /* Adjust margin for smaller screens */
    }
}